.home {
    background-color: #1a1a1a; // Dark background
    color: #f5f5f5; // Light text color
    text-align: center;
    padding: 50px 20px;

    .profile-pic {
        position: absolute; // Position the image absolutely
        top: 20px; // Adjust as needed
        left: 20px; // Adjust as needed
        width: 70px; // Set the width of the image
        height: 70px; // Set the height of the image
        border-radius: 50%; // Make the image circular
        object-fit: cover; // Ensure the image covers the area
    }

    .name {
        font-size: 4rem; // Large font size for the name
        font-weight: bold;
        margin: 0;
    }

    .title {
        font-size: 1rem; // Medium font size for the title
        margin: 10px 0 30px;
    }

    .contact-button {
        background-color: black; // Button background color
        color: white; // Button text color
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(35, 34, 34); // Darker shade on hover
        }
    }
}
