// src/components/Experience.scss
.experience {
    margin: 3rem;
    background: rgb(21, 21, 21);
    box-shadow: 0 2px 8px rgba(66, 53, 53, 0.45);

    h2{
        color: white;
        font-weight: 600;
    }

    p {
        line-height: 1.6;
        margin-top: 10px;
        color: rgb(162, 160, 160);
    }
}